/* ShanXing stylesheet */
body {font:14px/150% Microsoft YaHei,Arial, Helvetica, sans-serif ; color:#515151; background:#f0f0f0; overflow-x:hidden; }
* {padding:0; margin:0;}
ul {list-style-type:none;}
.clear {clear:both;}
img {border:none;}
.blank {height:30px;}
a {color:#5E5E5E;}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
a.redlink {color:#E00011;}
a.redlink:hover {color:#E00011;}
.sx_app_f12 {font-size:12px;}
.sx_app_f14 {font-size:14px;}
.sx_app_f16 {font-size:16px;}
.sx_app_f18 {font-size:18px;}
.sx_app_f21 {font-size:21px;}
.sx_app_orange {color:#f44711;}
.sx_app_black {color:#000;}

/* mobile */
#sx_m_header {background:#024783; height:60px; position:fixed; top:0; left:0; width:100%; z-index:100;}
.sx_m_logo {background:url(../images/white_logo.png) no-repeat; background-size:auto 100%; height:40px; position:absolute; top:10px; left:10px; width:50%;}
.sx_m_btBox {float:right; margin:15px 10px 0px 0px;}
.sx_m_btBox a {
	background: -webkit-linear-gradient(top, #f37d0a 0%,#b35901 100%);  
	background: -moz-linear-gradient(top, #f37d0a 0%,#b35901 100%); 
	padding:5px 10px; 
	display:inline-block; 
	color:#fff;
	border-radius:4px; 
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms_border-radius:4px;
	font-size:16px;
}

#sx_m_main {position:relative;padding-bottom:20px;}
.sx_app_outlinebox {padding:10px 0px;}
.sx_app_wrap,.sx_task_subbox {padding:0px 10px;}
.sx_app_wrap table td {padding:3px 0px;}
.sx_app_t1 {font-size:18px; line-height:150%; color:#000; font-weight:normal;}
.sx_app_t2 {font-size:18px; line-height:150%; color:#000; font-weight:normal; margin-bottom:5px;}
.sx_task_situation {padding:5px 0px;}
.sx_task_situation span {
	display:inline-block; 
	padding:5px 8px; 
	border:1px solid #d1d1d1; 
	line-height:100%; 
	margin-right:5px;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-mx-border-radius:4px;
}
.sx_app_blueBt {background:#024783; color:#fff;}
.sx_app_greyBt {background:#a1a1a1; color:#fff;}
.sx_app_pinkBt {background:#ff313b; color:#fff;}
.sx_task_subbox {background:#fff; border-top:1px solid #d1d1d1; border-bottom:1px solid #d1d1d1; margin:10px 0px;}
.sx_task_subbox ul {list-style-type:none;}
.sx_task_subbox li {padding:7px 0px; border-bottom:1px dotted #d1d1d1;}
.sx_task_subbox li.noborder {border-bottom:none;}
.sx_task_subbox li.sx_app_item_main div {width:32%; display:inline-block; float:left; text-align:center;}
.sx_task_subbox li.sx_app_item_main div.sx_app_item_middle {width:35%; display:inline-block; float:left; border-left:1px solid #d1d1d1; border-right:1px solid #d1d1d1;}
.sx_task_subbox li i {display:inline-block; width:80px; font-style:normal;}
.sx_task_subbox li b {font-weight:normal; }
table.sx_app_invest_tab {border-top:1px solid #d1d1d1; margin:10px 0px;}
table.sx_app_invest_tab td {padding:5px; border-bottom:1px dotted #d1d1d1;}
.sx_tab_bg {background:#e8f2f4;}

/* about */
.sx_aboutbg {background:#e1e8f3;}
.sx_about_imgbox {padding:5px 10px;}
.sx_about_imgbox img {width:100%;}
.sx_app_about {padding:10px 0px;}
.sx_app_about h1.sx_app_about_t1 {border-top:1px solid #8295b1; font-size:18px; line-height:120%; font-weight:normal; position:relative; margin:30px 0px 0px; text-align:center;}
.sx_app_about h2 {font-size:16px; color:#024783; padding:5px 10px;}
.sx_app_about h3 {font-size:16px; line-height:150%; text-align:center;}
.sx_app_about h2 i {
	background:#024783; 
	width:20px; 
	height:20px; 
	text-align:center; 
	border-radius:20px; 
	-webkit-border-radius:20px; 
	-moz-border-radius:20px; 
	-ms-border-radius:20px; 
	color:#fff; 
	margin-right:10px;
	display:inline-block;
}
.sx_app_about ul {list-style-type:none; border-top:1px solid #d1d1d1; margin:10px;}
.sx_app_about li {border-bottom:1px dotted #d1d1d1; padding:5px 0px; position:relative;}
.sx_app_about li b {color:#df6117; display:block; width:65px; float:left; font-weight:normal;}
.sx_app_about li p {display:block;  border-left:1px solid #d1d1d1; margin-left:65px; padding-left:10px;}
.sx_app_about_t1 span {
	padding:5px 10px; 
	display:inline-block; 
	top:-20px; 
	background:#8295b1; 
	margin:0 auto; 
	position:relative; 
	color:#fff;
	border-radius:20px;
	-webkit-border-radius:20px;
	width:70%;
}
.sx_app_p {padding:0px 10px;}
.sx_app_about_step {height:60px; margin-bottom:10px;}
.sx_app_about_step span {background:url(../images/about_icon.png) no-repeat; width:60px; height:60px; display:inline-block; float:left;}
.s1 span {background-position:-2px -10px;}
.s2 span {background-position:-2px -72px;}
.s3 span {background-position:-2px -130px;}
.s4 span {background-position:-2px -205px;}

/* tabs */
/* box */
.sx_app_listbox{padding:0px 10px;}
.tab_menu {list-style-type:none; text-align:center; border:0px solid #93b3cf; background:#b7cee2; height:31px; border-radius:4px; -webkit-border-radius:4px; overflow:hidden; }
.tab_menu li{width:25%; display:inline-block; float:left; height:30px;line-height:29px;color:#fff;background:#b7cee2;text-align:center; cursor:pointer;}
.tab_menu li.current{color:#003c71;background:#fff;}
.tab_menu li span {color:#fff;text-decoration:none; display:block; border:1px solid #93b3cf; border-right:none;}
.tab_menu li:first-child span {padding-right:0px; border-radius:4px 0px 0px 4px; -webkit-border-radius:4px 0px 0px 4px;}
.tab_menu li:last-child span {border-right:1px solid #93b3cf; border-radius:0px 4px 4px 0px; -webkit-border-radius:0px 4px 4px 0px;}
.tab_menu li.current span {color:#333;}
.tab_box{padding:10px 0px;}
.tab_box li{height:24px;line-height:24px;overflow:hidden;}
.tab_box li span{margin:0 5px 0 0;font-family:"宋体";font-size:12px;font-weight:400;color:#ddd;}
.tab_box .hide{display:none;}

/* block3 */
.sx_m_block3 {padding:20px 0px 90px 0px; }
.sx_m_block3 img {width:100%;}
.sx_m_block3 h2 {text-align:center; font-size:18px;}
.sx_font2 {font-size:24px; line-height:150%;}
.sx_text2 {padding:0px 20px;}
.orangeLink {color:#e27408;}
.sx_app_regbt {
	padding:8px 0px; 
	width:80%; 
	background:#024783; 
	color:#fff; 
	text-align:center; 
	display:block; 
	margin:0 auto; 
	font-size:21px;
    line-height:150%;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}

/* 我要推广 */
.sx_app_biz_box {
   padding:10px;	
}
.sx_app_biz_box h1 {text-align:center; color:#f44711; font-size:18px; line-height:150%; margin-bottom:10px;}
.sx_app_biz_box h2 {font-size:16px; line-height:150%; font-weight:normal;}
.sx_app_biz_ma {text-align:center; color:#f44711; padding:5px;}
.sx_app_biz_pic {text-align:center; padding:5px; width:150px; height:150px; margin:0 auto;}
.sx_app_biz_textlink {
   text-align:center;
   padding:10px 0px;	
}
.sx_app_biz_textlink textarea{
	border: 1px #d1d4d8 solid;
	padding:10px;
	width:90%;
	height:80px;
	font-size:14px;
	line-height:150%;
}

/* 体验金 */
.sx_app_tyj {margin:10px; color:#fff;}
.sx_app_tyj h2 {font-weight:normal; padding:10px 10px 0px; font-size:110%; color:#fee436;}
.sx_app_tyj h3 {padding:10px 10px 0px;}
.sx_app_tyj p {padding:0px 10px 5px 10px;}
.sx_app_tyj b {color:#fee436;}
.sx_app_tyj_t1 {padding:10px; background:#c02929;  color:#fff; font-size:120%; margin-top:20px;} 
.tyj_game_bt {
	padding:10px; 
	background:#ffce6f; 
	color:#c02929;
    border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
}
.sx_app_notice_title {font-size:140%; padding:10px; line-height:150%; color:#fee436;}
.sx_moreload {display:block; border:1px solid #b7cee2; text-align:center; padding:5px 0px; border-radius:4px; -webkit-border-radius:4px; background:#d8e6f2; font-weight:bold;}


/*善行宝介绍 block4 */
.sx_m_block4 {padding:10px 25px 20px;font:12px/150% Microsoft YaHei,Arial, Helvetica, sans-serif ; }
.block_dh { margin-top:20px;}
.sx_m_block4 .col1 { color:#323232;}
.sx_m_block4 .col2 { color:#ff6400; font-size:14px;}
.mt15 { margin-top:15px;}.mt10 { margin-top:10px;}
.sx_m_block4 .ponit ul li { padding:8px 5px;border:solid #ff6400 1px; border-radius:3px; width:40%; float:left; margin-right:10px; text-align:center; margin-top:15px;}
.sx_m_block4 .showbox { padding:10px; border:solid #ddd 1px; text-align:center; margin-top:15px;}
.sx_m_block4 .ttable { margin-top:20px;}
.sx_m_block4 .ttable .td1 { background:#ff6400; border:solid 1px #c84e00; border-right:none; color:#fff; font-size:14px;}
.sx_m_block4 .ttable .td2 { background:#ff6400; border:solid 1px #c84e00; color:#fff; font-size:14px;}
.sx_m_block4 .ttable .td3 { background:#ffeadc; border-left:solid 1px #c84e00; border-bottom:solid 1px #c84e00; color:#323232;font-size:12px;}
.sx_m_block4 .ttable .td4 { background:#ffeadc; border:solid 1px #c84e00; border-top:none; color:#323232;font-size:12px;}
.sx_m_block4 .dh_tit { height:40px; width:100%; background:#ff6400; border:solid #ff6400 1px; border-radius:3px; font-size:16px; font-weight:bold; line-height:40px; text-align:center; margin-top:20px; color:#fff;}

/* 模版 */
.sx_app_template {margin:10px;}
.sx_app_template h2 {font-weight:normal; padding:10px 10px 0px; font-size:110%; }
.sx_app_template h3 {padding:10px 10px 0px; text-align:center;}
.sx_app_template p {padding:0px 10px 5px 10px;}
.sx_app_template_t1 {padding:10px; font-size:120%; margin-top:20px;} 
.sx_app_template_title {font-size:140%; padding:10px; line-height:150%;}